<!DOCTYPE html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta charset="utf-8">
		<meta name="keywords" content="daocheng vue" />
		<meta name="description" content="vue 多入口文件打包">
		<meta name="author" content="peng">
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>
