section {
  @include dpr-fz(20px);
  @include flex-center();
  flex-direction: column;
  .lists {
    background: #f5f5f5;
    height: calc(100vh - 160rem / 75);
    overflow-y: scroll;
    .list-item {
      width: 100vw;
      background: #fff;
      margin-bottom: 0.5rem;
      .lists-box {
        width: 94vw;
        margin: 0 3vw;
        .order-info {
          border-bottom: 0.03rem solid #eee;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.2rem 0;
          .id-time {
            .order-id {
              @include dpr-fz(30px);
              color: #666;
              display: block;
            }
            .order-time {
              @include dpr-fz(24px);
              color: #999;
              display: block;
            }
          }
          .order-status {
            @include dpr-fz(32px);
            color: #d9a656;
          }
        }
        .goods-list {
          .good-item {
            border-bottom: 0.03rem solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0.2rem 0;
            img {
              width: (150rem/75);
              height: (150rem/75);
              border: 0.03rem solid #eee;
              border-radius: 0.1rem;
            }
            .good-info {
              width: (340rem/75);
              h1 {
                @include dpr-fz(32px);
                color: #666;
              }
              p {
                @include dpr-fz(26px);
                color: #999;
              }
            }
            .price-num {
              width: (176rem/75);
              text-align: right;
              .current-cost {
                @include dpr-fz(30px);
                color: #666;
              }
              .prime-cost {
                @include dpr-fz(26px);
                color: #999;
                text-decoration: line-through;
              }
              .good-num {
                @include dpr-fz(26px);
                color: #666;
              }
            }
          }
        }
        .amount {
          text-align: right;
          @include dpr-fz(26px);
          color: #666;
          padding: 0.2rem 0;
          border-bottom: 0.03rem solid #eee;
          span {
            @include dpr-fz(30px);
          }
        }
        .options {
          text-align: right;
          padding: 0.2rem 0;
          button {
            width: (150rem/75);
            height: (60rem/75);
            border: 0.03rem solid #ccc;
            border-radius: 0.1rem;
            background: none;
            @include dpr-fz(26px);
            color: #666;
            margin-left: 0.1rem;
            &.pay,
            &.return {
              border: 0.03rem solid #e63131;
              color: #e63131;
            }
            &.confirm {
              border: 0.03rem solid #d9a656;
              color: #d9a656;
            }
          }
        }
      }
    }
  }
}
