/*Create by Li Weijian on 2018.01.25*/
@charset "utf-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
caption {
  padding: 0;
  margin: 0;
}
fieldset,
img {
  border: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
ol,
ul,
li {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.svgicon, .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: inherit;
}
input::-webkit-input-placeholder{
	color:#ccc;
}
input::-moz-placeholder{  
  color:#ccc;
}
input:-moz-placeholder{  
  color:#ccc;
}
input:-ms-input-placeholder{ 
  color:#ccc;
}

body,p {
  margin: 0;
  padding: 0;
}

img[lazy=loading] {
  width: 40px;
  height: 300px;
  margin: auto;
}

img {
  max-height: 100%;
  max-width: 100%;
}



.fade-enter-active, .fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter , .fade-leave-to {
  opacity: 0;
  min-height: 100vh;
}


.fade1-enter-active, .fade1-leave-active {
  transition: opacity 0.2s;
}
.fade1-enter , .fade1-leave-to {
  opacity: 0;
}



.mint-swipe{
  height: (400rem/75);
  margin-top:  (80rem/75);
  overflow: hidden;
  .mint-swipe-indicators {
    .mint-swipe-indicator {
      width:0.2rem;
      height:0.2rem;
      margin: 0 0.1rem;
    }
  }
  img {
    width: 100%;
  }
}